<h1>II Liceum Ogólnokszałcące</h1>

<p>Witaj <%= @user.name %></p>

<p>Kliknij w link poniżej aby aktywować twoje konto na stronie II Liceum Ogólnokształcącego w Lubartowie:</p>

<%= link_to "Aktywacja", edit_account_activation_url(@user.activation_token, email: @user.email) %>