Witaj <%= @user.name %>

Kliknij w link poniżej aby aktywować twoje konto na stronie II Liceum Ogólnokształcącego w Lubartowie:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>