<h1>Reset hasła</h1>

<p>Aby zresetować twoje hasło kliknij w link poniżej:</p>

<%= link_to "Reset hasła", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Ten link będzie aktywny tylko 2 godziny!</p>