<%= form_for @article do |f| %>

	<%= f.label :title, "Tytuł postu:" %>
	<%= f.text_field :title %>

	<%= f.label :body, "Treść postu:" %>
	<%= f.text_area :body %>

	<%= f.submit "Aktualizuj post", class: "btn btn-primary" %>
	
<% end %>