	<% if_admin(@user) do %>
	<div class="btn btn-default new-article">
		<p><%= link_to 'Utwórz nowy post', new_article_path %></p>
	</div>
	<% end %>
<%= will_paginate %>
<div class="articles">
	
	<% @articles.each do |article| %>
		<div class="row">
			<div class="article-wrapper">
				<p class="title"><%= link_to article.title, article %> </p>
				<p class="body"><%= article.body %> </p>
				<p class="date"><%= article.created_at.strftime("%d, %B, %Y") %> </p>
			</div>
		</div>
	<% end %>

	
</div>

<%= will_paginate %>
