

<h1>Tworzenie postów</h1>

<%= form_for @article, url: articles_path do |f| %>

	<%= f.label :title, "Tytuł postu:" %>
	<%= f.text_field :title %>

	<%= f.label :body, "Treść postu:" %>
	<%= f.text_area :body %>

	<%= f.submit "Umieść post", class: "btn btn-primary" %>
	
<% end %>
	
