<div class="col-md-8 col-xs-12">
	<div class="show-article">
		<p class="title"><%= @article.title %> 
			<% if_admin(@user) do %>
				<span class="edit-article">
					<%= link_to "Edytuj", edit_article_path(@article) %>
				</span>
			<% end %>
		</p>
		<p class="body"><%= @article.body %> </p>
		<p class="date"><%= @article.created_at.strftime("%d, %B, %Y") %> </p>
	</div>
</div>