<% provide(:title, "Rejestracja") %>

<h1 id="registration">Rejestracja</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      

      <%= f.label :name, "Nazwa użytkownika:" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Adres email:" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Hasło:" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Potwierdzenie hasła:" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Utwórz konto", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>