<div class="col-md-4 col-sm-3 col-xs-12">
	<div id="sidebar">
		<ul>
			<li><%= link_to "Aktualności", root_path %></li>
			<li><%= link_to "Dla kandydatów", '#' %></li>
			<li><%= link_to "Szkoła", '#' %></li>
			<li><%= link_to "Absolwenci", '#' %></li>
			<li><%= link_to "Matura", '#' %></li>
			<li><%= link_to "Losy absolwentów", '#' %></li>
			<li><%= link_to "Osiągnięcia", '#' %></li>
			<li><%= link_to "Pedagog, psycholog, biblioteka", '#' %></li>
			<li><%= link_to "Uczniowie i absolwenci", '#' %></li>
			<li><%= link_to "Osiągnięcia", '#' %></li>
		</ul>
	</div>
</div>