
	<div class="well">
		<%= form_for @post do |f| %>
		<div class="form-group">
			<%= f.text_area :body, rows: 3, class: 'form-control post-area', required: true, maxlength: 200 %>
			<%= f.submit 'Dodaj', class: 'btn btn-primary btn-md post-submit' %>
			<small class="label label-warning">Wpis nie może być pusty lub dłuższy niż 200 znaków. </small>
		</div>

		
		<% end %>
	</div>
