<li class="media post">
	<%= link_to post.user.name, root_path, target: '_blank', class: 'pull-left' %>
	<div class="media-body">
		<p><%= post.body %></p>
		<small class="text-muted pull-right"><%= post.timestamp %> </small>
	</div>
</li>
