

<div class="panel panel-default">
	
<% if logged_in? %>
	<%= render 'form' %>
<% end %>
	<div class="panel-body">
		<ul class='media-list'>
			<div id="posts">
				<%= render @posts %>
			</div>

		</ul>
	</div>
</div>
<div id="infinite-scrolling">
	<%= will_paginate @posts %>
</div>
