@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
	padding-top: 60px;

}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}

/* header */

.navbar-default {
	background-color: #006699;
}
.navbar-default .navbar-nav > li > a {
	color: white;
	&:hover {
		color: #262626;	
	}

}
.navbar-toggle {
	background-color: white;
}
.dropdown-menu > li > a {
	color: white;
}
.dropdown-menu {
	background-color: #006699;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	padding-bottom: 11px;
	border-bottom: 4px solid white
  /*Sets the text hover color on navbar*/
}
  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }


#logo {
	float:left;
	text-decoration: none;
	padding-top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	font-size:2em;
	letter-spacing: -1px;
	margin-right:20px;
	color: white;
	&:hover {

	}

}

@media only screen and (max-width : 767px) {
    .navbar-fixed-top {
        
    }
    .navbar-collapse {
        max-height: none;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	padding-bottom: 10px;
	border-bottom: none;
    }
    body {
        padding-top: 0;
        margin: 0;
}
}

/* footer */

.footer {
	margin-top:45px;
	padding-top: 5px;
	border-top: 2px solid $gray-medium-light;
	color: $gray-light;
	small {
		float: left;
	}
}

/* registration */

#registration {
	text-align: center;

}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color:red;
	ul {
		color:red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left:20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* articles */

.row {
	margin-left: 0;
	margin-right:0;

}

.articles {
	border: 2px solid #006699;
	border-bottom: none;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
.article-wrapper {
	display: block;
	border-bottom: 2px solid #006699;
	padding-right: 5px;
	padding-left: 5px;
}
.title {	
	font-size: 1.1em;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
	a { 
	text-decoration: none;
	color: black;
		&:hover {
			color: #006699;
		}
	}
}
.edit-article  {
	float: right;
	padding-right: 15px;
}
	
.body {
	margin-bottom: 0px;
	border-top: 2px solid $gray-medium-light;
	border-bottom: 2px solid $gray-medium-light;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}
.date {
	font-size: 0.7em;
	margin-bottom: 0px;
	text-align: right;
	padding-right: 20px;
}
.show-article {
	display: block;
	border: 2px solid #006699;
	padding-right: 5px;
	padding-left: 5px;
}
#sidebar {
	display: block;
	position: fixed;
	margin-left: 0;
	width: auto;
	background-color: #EFEFEF;
	top: 120px;
	height: auto;

	ul {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		li {
			border: 1px solid $gray-light;
			text-align: left;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 5px;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.active {
		a {

		}
	}
}
.new-article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	font-weight: bold;
	p {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 991px) {
	#sidebar {
		

		ul {
			padding-left: 0px;
		}
	}
	.yield {
		padding-left: 50px;
	}
}
@media only screen and (max-width : 767px) {
	#sidebar {
		position: relative;
		top: auto;
		margin-left: 0;
		ul {
			li {
				text-align: center;
			}
		}
	}
	.dropdown-menu {
		li {
			a {
				 color: white!important;
				 &:hover {
				 	color: #262626!important;
				 	
				 }
			}
		}
	}
	body {
		padding-top: 60px;
	}
	.yield {
		padding-left: 15px;
	}
}
@media (min-width: 992px) {
	.col-md-offset-3 {
		margin-left: 0;
	}
	.col-md-6 {
    width: 80%;
}
}

.post-area {
	margin-bottom: 0;
	padding: 0;
	overflow-y: scroll;

	
}
.post-submit {
	width: auto !important;
	margin-top: 3px;
	margin-bottom: 3px;
	


}
.well {
	padding: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.form-group {
	margin-bottom: 0;
}
.label-warning {
	float: right;
	margin-top: 12px;
	
}
.panel-body {
	overflow-y: scroll;
	max-height: 400px;
}


