<div class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <%= link_to "logo" , root_path, id: "logo" %>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
         </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Plan lekcji", plan_lekcji_path %></li>
              <li><%= link_to "Kontakt", kontakt_path %></li>
              <li><%= link_to "Czat", new_post_path %></li>
            </ul>
            <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Konto <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profil", current_user %></li>
              <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Wyloguj", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Rejestracja", new_user_path %></li>
          <li><%= link_to "Zaloguj się", login_path %></li>
          </ul>
        <% end %>
          </div>
  </div>
</div>